<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654924090917-rqoah59hp3l1tdma17sopv3fg857ulbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654924090917-rqoah59hp3l1tdma17sopv3fg857ulbb</string>
	<key>API_KEY</key>
	<string>AIzaSyCUNEqoV8tgjdxzbnDs6bYpjucPiKTLtgM</string>
	<key>GCM_SENDER_ID</key>
	<string>654924090917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrinal.Lasportago</string>
	<key>PROJECT_ID</key>
	<string>lasportago</string>
	<key>STORAGE_BUCKET</key>
	<string>lasportago.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654924090917:ios:16b42981517ad2042479cc</string>
</dict>
</plist>